.calendarContainer {
  display: flex;
  height: calc(100vh - 125px);
  font-size: 14px;
  overflow: hidden;

  @media screen and (max-width: 375px) {
    flex-direction: column;
    overflow-y: scroll;
  }

  h2 {
    margin: 0;
    font-size: 16px;
  }
  
  ul {
    margin: 0;
    padding: 0 0 0 1.5em;
  }
  
  li {
    margin: 1.5em 0;
    padding: 0;
  }

  .calendarSidebar {
    width: 300px;
    line-height: 1.5;
    background: #ffd0b4;
    border-right: 1px solid #d3e2e8;

    @media screen and (max-width: 540px) {
      width: 200px;
    }

    @media screen and (max-width: 375px) {
      width: 100vw;
      height: 350px;
      display: grid;
      grid-template-columns: 1fr 2fr;
    }

    .sidebarSection {
      padding: 2em;

      @media screen and (max-width: 375px) {
        padding: 0;
      }

      .addEventitle {
        margin-bottom: 25px;

        @media screen and (max-width: 375px) {
          margin-bottom: 10px;
        }
      }

      .eventForm {
        margin-left: 15px;

        .eventBtn {
          margin-top: 10px;
          padding: 5px;
          border: 1px solid black;
          border-radius: 3px;
          background-color: #ffd0b4;
          transition: 0.3s ease-in-out;

          &:hover {
            cursor: pointer;
            background-color: #FF904D;
            border: 1px solid transparent;
            color: #fff;
          }
        }
      }
    }
  }

  .calendarWrapper {
    flex-grow: 1;
    padding: 3em;
    height: calc(100vh - 125px);

    @media screen and (max-width: 540px) {
      padding: 2em;
    }
  }

  .fc {
    max-width: 1100px;
    height: calc(100vh - 200px);
    margin: 0 auto;
  }
}