.listsWrapper {
  height: calc(100vh - 125px);
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  color: #4B4C4C;
  background-color: #d8d8d8;

  @media screen and (max-width: 540px) {
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: scroll;
  }

  .todoWrapper {
    height: calc(100vh - 125px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .listTitle {
      margin-bottom: 20px;
    }
  }

  .choresWrapper {
    height: calc(100vh - 125px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .listTitle {
      margin-bottom: 20px;
    }
  }
}