.hero-container {
    height: calc(100vh - 125px);
    width: 100vw;
    background: #d8d8d8;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .bg-img {
        position: absolute;
        z-index: 0;
        align-self: center;
        justify-self: center;
        margin-top: 15px;

        img {
            height: calc(100vh - 150px);
            margin-left: 35px;
        }
    }

    .type-subtext {
        text-transform: uppercase;
        text-align: center;
        z-index: 5;
        font-size: 2.5em;
        color: #606161;
        margin-top: 200px;
        font-family: 'Roboto Serif', serif;
    }

    .signup-wrap {
        z-index: 5;
        text-align: center;
        align-self: center;
        margin-top: 55px;
        
        .signup-btn {
            text-decoration: none;
            padding: 20px;
            background: #4B4C4C;
            color: #fff;
            border-radius: 10px;
            font-size: 1.2em;
            font-weight: bold;
            transition: 0.3s ease-in-out;

            &:hover {
                background: #fff;
                color: #4B4C4C;
            }
        }
    }
}