.profileContainer {
  height: calc(100vh - 125px);
  width: 100vw;
  padding: 40px;
  overflow: hidden;

  @media screen and (max-width: 768px) {
    padding: 0;
  }

  @media screen and (max-height: 600px) {
    padding: 0;
  }

  .profileWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    .profileImgContainer { 
      margin-top: 80px;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      @media screen and (max-width: 768px) {
        margin-top: 60px;
      }

      @media screen and (max-height: 600px) {
        margin-top: 60px;
      }

      img {
        width: 600px;

        @media screen and (max-width: 768px) {
          width: 400px;
        }

        @media screen and (max-width: 540px) {
          width: 200px;
        }

        @media screen and (max-height: 600px) {
          width: 400px;
        }
      }
    }

    .infoWrapper {
      display: flex;
      flex-direction: column;
      padding-top: 70px;
      margin-left: 200px;

      @media screen and (max-width: 768px) {
        padding-top: 50px;
        margin-left: 100px;
      }

      @media screen and (max-width: 540px) {
        margin-left: 50px;
      }

      @media screen and (max-height: 600px) {
        padding-top: 50px;
        margin-left: 100px;
      }

      .memberInfo {
        margin-bottom: 60px;

        @media screen and (max-width: 375px) {
          margin-bottom: 40px;
        }

        .rowTitle {
          font-size: 40px;
          margin-bottom: 20px;
          color: #4B4C4C;

          @media screen and (max-width: 768px) {
            font-size: 30px;
          }

          @media screen and (max-width: 375px) {
            font-size: 20px;
          }

          @media screen and (max-height: 600px) {
            font-size: 30px;
          }
        }

        .member {
          margin: 0;
          padding: 0;
          list-style: none;

          .memberItem {
            margin-bottom: 10px;
            font-size: 20px;

            @media screen and (max-width: 768px) {
              font-size: 18px;
            }

            @media screen and (max-width: 375px) {
              font-size: 16px;
            }

            @media screen and (max-height: 600px) {
              font-size: 18px;
            }
          }
        }
      }

      .accountInfo {

        .rowTitle {
          font-size: 40px;
          margin-bottom: 20px;
          color: #4B4C4C;

          @media screen and (max-width: 768px) {
            font-size: 30px;
          }

          @media screen and (max-width: 375px) {
            font-size: 20px;
          }

          @media screen and (max-height: 600px) {
            font-size: 30px;
          }
        }

        .account {
          margin: 0;
          padding: 0;
          list-style: none;

          .accountItem {
            margin-bottom: 10px;
            font-size: 20px;

            @media screen and (max-width: 768px) {
              font-size: 18px;
            }

            @media screen and (max-width: 375px) {
              font-size: 16px;
            }

            @media screen and (max-height: 600px) {
              font-size: 18px;
            }
          }
        }
      }

      .deleteMember {
        margin-top: 60px;
        font-size: 18px;
        color: red;
        transition: 0.3s ease-in-out;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }

        @media screen and (max-width: 375px) {
          font-size: 14px;
        }
      }
    }
  }
}